/*MEDIA QUERIES*/

@media only screen and (max-width: 1920px)  { 

    .hamburger {
        display: none;
    }

    .tablet-description {
        display: none;
    }

    .tablet-note {
        display: none;
    }

    .mobile-intro-h1, .mobile-intro-text, .mobile-note {
        display: none;
    }

    .mobile-description, .mobile-col {
        display: none;
    }


}

@media only screen and (max-width: 1200px) {

    .hamburger {
        display: block;
    }

    .mobile-nav {
        margin-top: 5px;
        display: block;
        top: 20%;
    }

    .main-menu, .button-1 {
        display: none;
    }
}

@media only screen  and (min-width: 500px) and (max-width: 850px){
    body {
        margin: 0 10px 0 0;
        padding-left: 60px;
        padding-right: 50px;
        box-sizing: border-box;
        /*border: 1px solid white;
        color: white;*/
    }

    /*.mobile-description, .mobile-col {
        display: none;
    }*/
    .intro-h1 {
        font-size: 2.5rem;
        letter-spacing: 1.5px;
        font-family: prata, sans-serif;
        color: #FFFFFF;
    }
    
    .intro-text {
        font-family: Arial, Helvetica, sans-serif;
        color:  #919599;
        font-size: 0.9rem;
        letter-spacing: 1px;
        line-height: 1.5;
    }
    
    .mobile-nav {
        margin-top: 5px;
        display: block;
        top: 20%;
    }

    .company-logos {
        width: 600px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px 80px;
    }
    
    .companies img {
        height: 23px;
    }

    .cols {
        display: block;
        width: 612px;
    }
    
    .cols img {
        width: 95%;
    }

    .cols a{
        font-size: 1.8rem;
    }

    .description {
        display: none;
    }
    
    .tablet-description {
        display: block;
    }
    .note {
        display: none;
    }

    .tablet-title-h2 {
        text-decoration: none;
        font-family: prata, sans-serif;
        font-size: 2rem;
        color: #fff;
    }
    
    .tablet-note {
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.90rem;
        text-align: justify;
        color: #919599;
        text-align: justify;
        letter-spacing: 1px;
        line-height: 1.5;
        padding: 0 50px;
    }

    /*.mobile-intro-h1, .mobile-intro-text {
        display: none;
    }*/
}

@media only screen and (min-width: 200px) and (max-width: 500px) {


    body {
        margin: 0 auto;
        padding-right: 50px;
        padding-left: 50px;
        box-sizing: border-box;
        /*border: 1px solid white;
        color: white;*/
    }

    .intro-h1, .intro-text {
        display: none;
    }
    
    .logo {
        font-size: 1rem;
    }

    .main-menu, .button-1 {
        display: none;
    }

    .hamburger {
        position: relative;
        display: block;
        width: 25px;
        cursor: pointer;
    
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }

    .mobile-nav {
        margin-top: 5px;
        display: block;
        top: 20%;
    }

    .introduction {
        margin-top: 20px;
    }
    .mobile-intro-h1 {
        display: block;
        font-size: 1.5rem;
        letter-spacing: 0.5px;
        font-family: prata, sans-serif;
        color: #FFFFFF;
    }
    
    .mobile-intro-text {
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        color:  #919599;
        font-size: 0.80rem;
        letter-spacing: 0.04rem;
        line-height: 1.5;
    }
    
    .company-logos {
        width: 300px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px 30px;
        margin-left: -15px;
    }

    .companies img {
        height: 20px;
    }
    .cols {
        display: inline-block;
        overflow: hidden;
    }
    
    .cols a{
        font-size: 1.5rem;
    }

    .cols img {
        width: 330px;
        flex-wrap: wrap;
    }

    .description, .tablet-description {
        display: none;
    }

    .mobile-description {
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        color:  #919599;
        text-align: justify;
        font-size: 0.80rem;
        line-height: 1.5;
        padding: 10px 0px;
    }

    .note, .tablet-note {
        display: none;
    }


    .mobile-note {
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.80rem;
        text-align: justify;
        color: #919599;
        text-align: justify;
        letter-spacing: 1px;
        line-height: 1.5;
        padding: 0 50px;
    }

    .tablet-col, .title-h2 {
        display: none;
    }

    .mobile-title-h2 {
        display: block;
        text-decoration: none;
        font-family: prata, sans-serif;
        font-size: 1.5rem;
        color: #fff;
    }
    
    
    .mobile-col {
        display: block;
        font-size: 0.80rem;
        text-align: left;
        letter-spacing: 0;
        line-height: 1.2;
    }
    .social-media {
         margin:0;
        display: inline-flex;
        gap: 15px;
    }
}